<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654992912449-eaqv6g3dn6phrl8foi5umh1hk0kugcpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654992912449-eaqv6g3dn6phrl8foi5umh1hk0kugcpg</string>
	<key>API_KEY</key>
	<string>AIzaSyCGh-cX1m9CccsdV1qvdGarfIQAvGaHTsk</string>
	<key>GCM_SENDER_ID</key>
	<string>654992912449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.narumichikubo.callingsampleapp</string>
	<key>PROJECT_ID</key>
	<string>callingsampleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>callingsampleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654992912449:ios:688c5393e1254fd23656c0</string>
</dict>
</plist>